{% extends "myFood/base.html" %}

{% block content %}
<H1>Meals eaten today:</H1>

{% if meals_list %}
<table border="1">
  <tr>
    <td>Name</td>
    <td>Package</td>
    <td>Fat</td>
    <td>Carbs</td>
    <td>Protein</td>
    <td>Alcohol</td>
    <td>Total</td>
  </tr>
  {% for meal in meals_list %}
  <tr>
    <td>{{ meal.food.name }}</td>
    <td>{{ meal.ammount }} x {{ meal.packages.container_types.name }}</td>
    <td>{{ meal.kcal_fat }}</td>
    <td>{{ meal.kcal_carbs }}</td>
    <td>{{ meal.kcal_protein }}</td>
    <td>{{ meal.kcal_alcohol }}</td>
    <td>{{ meal.kcal_total }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td><b>Total</b></td>
    <td>-</td>
    <td><b> {{ meals_list.kcal_fat }} </b></td>
    <td><b> {{ meals_list.kcal_carbs }} </b></td>
    <td><b> {{ meals_list.kcal_protein }} </b></td>
    <td><b> {{ meals_list.kcal_alcohol }} </b></td>
    <td><b> {{ meals_list.kcal_total }} </b></td>
  <tr>
</table>
{% else %}
  <p>No meals are available.</p>
{% endif %}
{% endblock content %}

