{% extends "myFood/base.html" %}

{% block content %}
<H1>Meals eaten today:</H1>

<table border="1">

{% if meals_list %}
  <tr>
    <td>Name</td>
    <td>Package</td>
    <td>Fat</td>
    <td>Carbs</td>
    <td>Protein</td>
    <td>Alcohol</td>
    <td>Total</td>
  </tr>
    {% for meal in meals_list %}
    <tr>
      <td>{{ meal.food.name }}</td>
      <td>{{ meal.ammount }} x {{ meal.packages.container_types.name }}</td>
        <td>{{ meal.kcal_fat|default:"N/A" }}</td>
        <td>{{ meal.kcal_carbs|default:"N/A" }}</td>
        <td>{{ meal.kcal_proteins|default:"N/A" }}</td>
        <td>{{ meal.kcal_alcohol|default:"N/A" }}</td>
        <td>{{ meal.kcal_total}}</td>
    </tr>
    {% endfor %}
  </ul>
{% else %}
  <p>No meals are available.</p>
{% endif %}
{% endblock content %}

  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>
